.notes-list {
  margin-top: 20px;
}

.note-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 18px;
  padding: 10px;
  border: 1px solid #ddd;
}

.note-item:hover {
  background: #f7f7f7;
}

.note-fig {
  max-width: 120px;
  height: auto;
  max-height: 120px;
}

.note-title {
  font-weight: bold;
  font-size: 18px;
}

.note-abs {
  font-size: 14px;
  color: #444;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper {
  max-width: 1300px;
}

.site-header .wrapper {
  max-width: 1300px;
}

.page-content .wrapper {
  max-width: 1300px;
}
